
{% extends 'XsolveNewsletterBundle::layout.html.twig' %}

{% form_theme form with 'XsolveNewsletterBundle:Form:bootstrapRow.html.twig' %}

{% block content %}

<h3>Dodaj nową listę:</h3>

<form class="form-horizontal" action="{{ path('xsolve_newsletter_list_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_rest(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <i class="icon-ok-sign icon-white"></i> Dodaj listę
        </button>
        <a href="{{ path('xsolve_newsletter_list_index') }}" class="btn btn-small">
            <i class="icon-circle-arrow-left"></i> Wróć
        </a>
    </div>
</form>


{% endblock %}
