
{% extends 'XsolveNewsletterBundle::layout.html.twig' %}

{% form_theme form with 'XsolveNewsletterBundle:Form:bootstrapRow.html.twig' %}

{% block content %}

<h3>{{ title }}</h3>

<form class="form-horizontal" action="{{ actionUrl }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.fromName) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content, { 'attr': { 'class': 'span6', 'rows': 15 } }) }}
    {{ form_rest(form) }}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <i class="icon-ok-sign icon-white"></i> Zapisz
        </button>
        <a href="{{ path('xsolve_newsletter_message_index') }}" class="btn btn-small">
            <i class="icon-circle-arrow-left"></i> Wróć bez zapisywania zmian
        </a>
    </div>
</form>

{% endblock %}
